*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.form{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 8px 0px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

.form p{
    color: #ff7200;
    font-weight: 900;
    font-family: 'Times New Roman';
    text-align: center;
    margin-top: 10px;

}
.row{
    text-align: center;
    margin: 10px;
}

.btn{
    width: 100px;
    background: aqua;
    height: 30px;
    border-radius: 20px;
    transition: 0.5s;

}

.btn a{
    text-decoration: none;
    color: #ff7200;
}

.btn:hover{
    background: blue;
}