*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background: gray;
}

.form{
    width: 320px;
    height: 320px;
    background: #f2f2f2;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.form h2{
    color: aqua;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 900;
}

.form label{
    display: block;
    margin: 2px;
}

.form .dp input{
    width: 315px;
    margin-left: 2px;
    margin-right: 2px;
}

.form .dop p{
    margin-top: 5px;
}


.form .doop {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
}

hr{
    color: blanchedalmond;
}







.form .dip .joo{
    width: 315px;
    margin-top: 30px;
    background: #ff7200;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

